/**************************/
/* OneDashboard Project   */
/**************************/
/* Collaborators:         */
/*  - Robert Arango       */
/*  - Timothy Terrell     */
/* Start Date: 9/4/2012   */
/**************************/

/*** BODY, FOOTER, CSS RESET, CONTAINER (CONTENT & SIDEBAR) ***/

* {
	margin: 0px;
	padding: 0px;
}

body {
	min-width:1000px;
	background: #E8C782;
	color: #FFFFFF;
}

div#container {
	overflow:hidden;
	height:500px;
}

div#content {
	margin: 0 0 0 200px;
	height: 100%;
}

div#footer {
	text-align: center;
	width: 100%;
	background: #333333;
	clear:both;
	border-top: 1px solid #000;
}

/*** HEADER AND HEADER NAVIGATION ***/

div#header {
	width: 100%;
	height: 80px;
	background: #333333;
	border-bottom: 1px solid #000;
}

div#logo {
	float: left;
	width: 200px;
	height: 60px;
}

div#nav-top {
	float: left;
	height: 60px;
}

div#nav-top ul {
	text-decoration: none;
}

div#nav-top li {
	height: 60px;
	background: #CC3;
	display: inline;
	padding: 0px 10px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}

div#profile {
	float: right;
	text-align: right;
	width: 27%;
}

div#profile_pic {
	float:right;
}

div#profile_options {
	float:left;
	padding: 5px;
}

/*** SIDEBAR AND SIDEBAR NAVIGATION ***/

div#sidebar {
	height: 100%;
	background: #333333;
	float:left;
    width:200px;
	border-right: 1px solid #000;
}

div#nav-left {
	
}

div#nav-left ul {
	
}

div#nav-left li {
	
}

/***  ***/

a:link, a:visited {
	color: #FFFFFF;
}